version: 2.1
orbs:
  node: circleci/node@3.0.0
  docker: circleci/docker@1.0.1
  k8s: circleci/kubernetes@0.1.0
jobs:
  build-and-push:
    executor: docker/docker
    steps:
      - docker/build:
          dockerfile: Dockerfile
          image: "pomoduck-java"
          registry: "mcereal/pomoduck-java"
          tag: "v1.0.0-prod"
      - docker/push:
          image: "pomoduck-java"
          registry: "mcereal/pomoduck-java"
          tag: "v1.0.0-prod"

  test:
    executor:
      name: node/default
      tag: 14.14.0
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: echo 'skip tests'
          name: Run Jest test
workflows:
  devops_flow:
    jobs:
      # - test
      - build-and-push:
          filters:
            branches:
              only:
                - main
          requires:
            - test
